html {
  background: linear-gradient(90deg,rgba(222, 113, 113, 1) 0%, rgba(83, 106, 237, 1) 100%);
}

canvas {
    display: block;
    margin: auto;
    margin-top: 1rem;
}

header:not(input) {
    display: flex;
    justify-content: center;
}

aside {
    position: absolute;     /* sticks to the left */
    left: calc((100% - 512px) / 2 + 215px);             /* left: screen width - 512(canvas size), half that to fetch left edge of canvas,
    then 215px to the right is exactly half of menu size (width 400 plus 15px padding so 430), otherwise only half of the menu would be hidden*/
    top: 148px;
    display: flex;
    flex-direction: column; /* vertical layout */
    gap: 1rem;              /* spacing between gem icons */
    align-items: center;
    transition: left .7s ease;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li img {
    width: 48px;          /* adjust size */
    height: 48px;
    object-fit: contain;
    display: block;
}

.level, .moves, .score, .target, .total {
  border: 1px solid black;
  position: relative;
  float: right;
  border-top-left-radius: 15px;
  margin-right: -12px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  width: 10%;
  height: 11%;
  white-space: nowrap;
}

.level {
  background-color: rgb(15, 112, 209);
  width: 10%;
  height: 11%;
}

.level p, .moves p, .score p, .target p, .total p {
  margin: 0;
  margin-left: 8px;
  font-size: 150%;
  font-weight: bold;
}

div output {
  font-size: 450%;
  text-align: center;
}

.moves {
  background-color: rgb(155, 127, 219);
  width: 10%;
  height: 11%;
}

.score {
  background-color: rgb(201, 7, 120);
  z-index: -1;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
}

.total {
  background-color: rgb(122, 36, 179);
  width: 12%;
  border-top-right-radius: 15px;
}

.target {
  background-color: rgb(235, 15, 15);
  z-index: -2;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
}

input {
  height: 40px;
  clip-path: polygon(0 0, 92.66% 0, 100% 22%, 100% 100%, 7.33% 100%, 0 78%); 
  background-color: rgba(235, 52, 52, .7);
  position: absolute;
  font-size: x-large;
  right: 76%;
  top: 5.5%;
}

input:hover {
  cursor: pointer;
  background-color: rgba(235, 52, 52, 1);
}

.helpMenu {
  background-color: tan;
  padding: 15px;
  width: 400px;
  position: absolute;
  z-index: -5;
}
/* absolutely positioned because hover/click events dont work with left offset while what theyre contained in is in the background  */
.help {
  rotate: 270deg;
  background-color: tan;
  font-size: large;
  position: absolute;
  height: 28px;
  top: 156px; 
  left: calc((100% - 512px) / 2 - 35.5px);   
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
  z-index: 5;
  transition: left .7s ease; 
}

.help:hover {
  cursor: pointer;
}
