canvas {
  position: relative;
  display: block; 
  margin: auto;
  bottom: 62.5rem;
}

header {
  display: flex;
  justify-content: center;
}

.level, .moves, .score, .target {
  border: 1px solid black;
  position: relative;
  float: right;
  border-top-left-radius: 15px;
  margin-right: -12px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.level {
  background-color: rgba(76, 36, 179);
  width: 10%;
  height: 11%;
}

.level p, .moves p, .score p, .target p {
  margin: 0;
  margin-left: 8px;
  font-size: 150%;
  font-weight: bold;
}

div output {
  font-size: 450%;
  text-align: center;
}

.moves {
  background-color: rgba(44, 137, 230, 1);
  width: 10%;
  height: 11%;
}

.score {
  background-color: rgba(235, 52, 52, 1);
  width: 10%;
  height: 11%;
  z-index: -1;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
}

.target {
  background-color: rgba(127, 173, 219, 1);
  width: 10%;
  height: 11%;
  z-index: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
}
