h1 {
    color: red;
    text-align: center;
}

.buttons {
    display: grid;
    margin: 0 auto;
    width: 20%;
    margin-top: 15%;
}

button, .formBtn {
    text-align: center;
    height: 110%;
    width: 40%;
    margin: auto;
    font-size: medium;
}

h3 {
    text-align: center;
    margin: 3%;
}

form {
    display: grid;
    margin: auto;
    width: 15%;
    margin-top: 15%; 
}   

label {
    text-align: center;
    margin-bottom: 0;
    margin-top: 4%;
}

.option {
    display: flex; 
    justify-content: center; 
    align-items: center;  
    gap: 3px;
}

.option label {
    margin: 0;
}

.configMenu input {
    margin: 0;
}

input {
    margin: auto;
}

#logIn {
    margin-top: 5%;
    width: 60%;
    height: 110%;
    font-size: 110%;
}

#logIn:hover {
    cursor: pointer;
    background-color: green;
    border-radius: 6%;
}

.startMenu, .loginMenu, .configMenu, .devMenu {
  display: none;
}

#leaderboard {
    display: grid;
    text-align: center;
}

#leaderboard table {
    width: 10%;
    border-style: ridge;
    border-width: 4px;
    margin: auto;
}

#leaderboard td {
    padding: 4px;
    text-align: left;
    background-color: lightblue;
    vertical-align: top;
}

#leaderboard ul {
    list-style-type: none;
}