html {
    background: #de7171;
    background: linear-gradient(90deg,rgba(222, 113, 113, 1) 0%, rgba(83, 106, 237, 1) 100%);
}

h1 {
    color: red;
    text-align: center;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 500px;
    margin-top: 15%;
}

#startBtn, #loginBtn, #logoutBtn, #configBtn, #maintBtn {
    clip-path: polygon(0 0, 92.66% 0, 100% 22%, 100% 100%, 7.33% 100%, 0 78%); 
    margin-top: 10px;
    margin-bottom: 10px;
}
#startBtn {
    background-color: rgba(0, 186, 19, .7);
}

#loginBtn {
    background-color: rgba(44, 137, 230, .7);
}

#logoutBtn {
    background-color: rgba(235, 52, 52, .7);
} 

#configBtn {
    background-color: rgba(115, 113, 112, .7);
}

#startBtn:hover, .seedSave:hover {
    background-color: rgba(0, 186, 19, 1);
}

#loginBtn:hover {
    background-color: rgba(44, 137, 230, 1);
}

#logoutBtn:hover, #backBtn:hover {
    background-color: rgba(235, 52, 52, 1);
}

#configBtn:hover {
    background-color: rgba(115, 113, 112, 1);
}

button, .formBtn {
    text-align: center;
    height: 50px;
    width: 200px;
    margin: auto;
    font-size: large;
}

h3 {
    text-align: center;
    margin: 3%;
}

form {
    display: grid;
    margin: auto;
    width: 15%;
}   

label {
    text-align: center;
    margin-bottom: 0;
    margin-top: 4%;
}

.option {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.seedSave:hover {
    cursor: pointer;
}

.option label {
    margin: 20px;
    font-size: x-large;
}

input {
    position: relative;
    font-size: large;
    margin: 5px;
}

#backBtn {
    position: relative;
    top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

.startMenu, .loginMenu, .configMenu, .devMenu {
    display: none;
}

.leaderboard table {
    width: 120%;
    border-style: ridge;
    border-width: 4px;
    margin: auto;
}

.leaderboard td {
    padding: 4px;
    vertical-align: top;
}

.userID, .scoreLabel {
    font-size: x-large;
}

.username {
    text-align: left;
    font-size: large;
}

.score, .level {
    text-align: right;
    font-size: large;
}

.leaderboard ul {
    list-style-type: none;
}

tr:nth-child(even) {
    background-color: lightblue;
}

tr:nth-child(odd) {
    background-color: rgb(90, 196, 231);
}

.sortBtn {
    position: relative;
    top: 10px;
    width: 120%;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 1rem;
}